body {
  font-family: 'Poppins', sans-serif;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.player {
  background:black;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

h2 {
  margin-bottom: 20px;
  color: #ff758c;
}

.controls button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background: #ff758c;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.controls button:hover {
  background: #ff4a6e;
}